.player-info-card{
    margin-top: -1rem;
    background-image: url(/src/23421-Logo-Soccer-EmblemManchester-City-F.C.-HD-Wallpaper.png);
    background-size: cover;
    background-position: 50%;
    /* background-image: url(src/23421-Logo-Soccer-EmblemManchester-City-F.C.-HD-Wallpaper.png); */
}